@riceWhite:#F9F9F5;
@contentWhite:#e7e7e7;
@brownness:#2C3E50;
@normalGrey:#666;
@lightGrey:#999;
@ddd:#ddd;
@white:white;
@orangered:orangered;
@lightseagreen:lightseagreen;
@lightcoral:lightcoral;
@orangered:orangered;
@ebankinggreen:#34A344;

@header-minwidth: 970px;

@headerbg-image:"/assets/img/ntopbg.png";
@headerbg-logo:"/assets/img/logo-1.png";
@bodybg-nav:"/assets/img/nnav.png";

@media  screen and (min-width:768px) {
  #mainheader .container{
    width: @header-minwidth;
  }
}

@media screen and (min-width:100px) and (max-width:768px){
  #mainheader{
    min-height: 36px !important;
  }

  #mainheader, #mainheader > .container, #mainheader > .container > .navbar-header{
    height: 36px;
  }

  #mainheader > .container > .navbar-header > a {
    margin-top: -1px
    padding-top: 9px;
    padding-bottom: 3px;
    height: 36px;
  }

  #mainheader > .container > .navbar-header > button {
    padding-top: 2px;
    padding-bottom: 0;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  #homepagelink {
    background: @riceWhite url(@headerbg-logo) no-repeat;
    background-size: 80%;
    width: 100px;
  }
}