@riceWhite:#F9F9F5;
@contentWhite:#e7e7e7;
@brownness:#2C3E50;
@normalGrey:#666;
@lightGrey:#999;
@ddd:#ddd;
@white:white;
@orangered:orangered;
@lightseagreen:lightseagreen;
@lightcoral:lightcoral;
@orangered:orangered;
@ebankinggreen:#34A344;

@header-minwidth: 970px;

@headerbg-image:"/assets/img/ntopbg.png";
@headerbg-logo:"/assets/img/logo-1.png";
@bodybg-nav:"/assets/img/nnav.png";

@media  screen and (min-width:768px) {
  #mainheader .container{
    width: @header-minwidth;
  }
}

@media screen and (min-width:100px) and (max-width:768px){
  #mainheader{
    min-height: 30px !important;
  }

}