@riceWhite:#F9F9F5;
@contentWhite:#e7e7e7;
@brownness:#2C3E50;
@normalGrey:#666;
@ddd:#ddd;
@white:white;
@orangered:orangered;
@lightseagreen:lightseagreen;
@lightcoral:lightcoral;
@orangered:orangered;

.header-title-first{
  color: @riceWhite;
}
