<header ng-controller="NavbarController">
    <div id="topheader" ng-if="!isTopheaderFolded">
        <div class="mediaLogin">
            <div class="logo-wrapper">
                <a href="" ui-sref="main" title="This a website for runners get together">
                    <img ng-src="/assets/img/logo-1.png">
                </a>
            </div>
        </div>
    </div>
    <nav id="mainheader" class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isFolded=!isFolded">
                    < >
                </button>
                <a href="" ui-sref="main" class="navbar-brand header-title">
                    <span class="header-title-first">首页</span>
                </a>
            </div>
            <div class="navbar-collapse" ng-if="!isFolded" ng-click="toggleNavbar()">
                <ul class="navbar-nav nav header-link">
                    <li ui-sref-active="active"><a ui-sref="circle">约跑圈</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>