<header ng-controller="NavbarController">
    <div id="topheader">
        <div class="mediaLogin">
            <div class="logo-wrapper">
                <a href="" ui-sref="main" title="This a website for runners get together" class="ml1">
                    <img ng-src="/assets/img/logo-1.png">
                </a>
                <div class="ml2-div" ng-if="!isAuth">
                    <a href="" class="ml2" ng-click="signin()">登陆</a>
                    <a href="" class="ml2" ui-sref="register_accountinfo">注册</a>
                </div>
                <div class="ml2-div" ng-if="isAuth">
                </div>
            </div>
        </div>
    </div>
    <nav id="mainheader" class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isFolded=!isFolded">
                    <>
                </button>
                <a id="homepagelink" href="" ui-sref="main" class="navbar-brand header-title">
                    <span class="header-title-first">首页</span>
                </a>
                <a href="" ui-sref="circle" class="navbar-brand header-title">
                    <span class="header-title-first">约跑圈</span>
                </a>
            </div>
        </div>
    </nav>
</header>