<div id="tpl_register" clas="container w-xxl w-auto-xs" ng-controller="SignUpController as ctrl">
    <form name="ctrl.signupForm" ng-submit="ctrl.signup()" novalidate>
        <div class="signup-holdspace"></div>
        <div class="signup-wrapper">
            <div class="signup-top">
                <div class="signup-logo">
                    <a href="" ui-sref="main">
                        <img src="/assets/img/logo-1.png" alt="Logo"/>
                    </a>
                </div>
            </div>
            <div class="signup-main">
            </div>
        </div>
    </form>
</div>