<div id="tpl_register" clas="container w-xxl w-auto-xs" ng-controller="SignUpController as ctrl">
    <form name="ctrl.signupForm" ng-submit="ctrl.signup()" novalidate>
        <div class="signup-holdspace"></div>
        <div class="signup-wrapper">
            <div class="signup-top">
                <div class="signup-logo">
                    <a href="" ui-sref="main">
                        <img src="/assets/img/logo-1.png" alt="Logo"/>
                    </a>
                </div>
            </div>
            <div class="signup-main">
                <div class="signup-fieldtr form-group" ng-class="{'has-error':ctrl.hasErrorClass('email')}">
                    <div class="signup-fieldtd">
                        <label for="email">Email</label>
                    </div>
                    <div class="signup-fieldtd">
                        <input id="email" name="email" class="form-control" type="email" exist-email required
                               ng-model="ctrl.newUser.email" ng-model-options="{ updateOn : 'default blur' }"
                               ng-focus="ctrl.toggleEmailPrompt(true)" ng-blur="ctrl.toggleEmailPrompt(false)"/>
                        <div class="Validform_checktip prompt message-animation" ng-messages="ctrl.signupForm.email.$error" ng-if="ctrl.showMessages('email')">
                            <div class="message-animation" ng-message="required">
                                <strong>This field is required.</strong>
                            </div>
                            <div class="message-animation" ng-message="email">
                                <strong>Please format your email correctly.</strong>
                            </div>
                            <div class="message-animation" ng-message="existEmail">
                                <strong>Please try another email.</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="signup-fieldtr form-group" ng-class="{'has-error':ctrl.hasErrorClass('loginName')}">
                    <div class="signup-fieldtd">
                        <label for="loginName">约跑昵称</label>
                    </div>
                    <div class="signup-fieldtd">
                        <input id="loginName" name="loginName" class="form-control" type="text" exist-loginname required
                               ng-model="ctrl.newUser.loginName" ng-model-options="{ updateOn : 'default blur' }"
                               ng-focus="ctrl.toggleLoginNamePrompt(true)" ng-blur="ctrl.toggleLoginNamePrompt(false)"/>
                        <div class="Validform_checktip prompt message-animation" ng-messages="ctrl.signupForm.loginName.$error"  ng-if="ctrl.showMessages('loginName')">
                            <div class="message-animation" ng-message="required">
                                <strong>This field is required.</strong>
                            </div>
                            <div class="message-animation" ng-message="existLoginname">
                                <strong>Please try another login name.</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="signup-fieldtr form-group" ng-class="{'has-error':ctrl.hasErrorClass('password')}">
                    <div class="signup-fieldtd">
                        <label for="password">密码</label>
                    </div>
                    <div class="control-group">
                        <div class="input-group">
                            <input id="password" name="password" class="form-control" required type="{{ctrl.getPasswordType()}}"
                                   ng-model="ctrl.newUser.password" ng-model-options="{ updateOn : 'default blur' }"
                                   validate-password-characters/>
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="ctrl.signupForm.showPassword"> 显示
                        </span>
                        </div>
                    </div>
                    <div class="control-group signup-fieldtd">
                        <div class="Validform_checktip prompt message-animation" ng-messages="ctrl.signupForm.password.$error"  ng-if="ctrl.showMessages('password')">
                            <div class="message-animation" ng-message="required">
                                <strong>This field is required.</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="signup-fieldtr form-group" ng-class="{'has-error':ctrl.hasErrorClass('passwordConfirmed')}">
                    <div class="signup-fieldtd">
                        <label for="passwordConfirmed">确认密码</label>
                    </div>
                    <div class="control-group">
                        <div class="input-group">
                            <input id="passwordConfirmed" name="passwordConfirmed" class="form-control" required compare-to='ctrl.newUser.password'
                                   type="{{ctrl.getPasswordType()}}" ng-model="ctrl.newUser.passwordConfirmed" ng-model-options="{ updateOn : 'default blur' }"
                                   validate-password-characters/>
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="ctrl.signupForm.showPasswordConfirmed"> 显示
                        </span>
                        </div>
                    </div>
                    <div class="control-group signup-fieldtd">
                        <div class="Validform_checktip prompt message-animation" ng-messages="ctrl.signupForm.passwordConfirmed.$error"  ng-if="ctrl.showMessages('passwordConfirmed')">
                            <div class="message-animation" ng-message="required">
                                <strong>This field is required.</strong>
                            </div>
                            <div class="message-animation" ng-message="compareTo">
                                <strong>password is not matched.</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="signup-submittr">
                    <button class="btn btn-primary" type="submit">注册我的账户</button>
                </div>

            </div>
        </div>
    </form>
</div>